{% extends "cafeblog/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% load staticfiles %}
{% load cafeblog_tags %}

{% block body %}

<form method="post">
    {% csrf_token %}
    <div class="hero-unit">
        <h1>Article details<br />
            <small>posted on the blog: {{ blog }}</small>
        </h1>
    </div>
    
    <div>
        {% display_error_if  article_form.errors %}
        {{ article_form.as_p }}

        <button class="btn btn-primary btn-large" type="submit" value="save">Save article</button>
    </div>
    
</form>

{% endblock %}

