{% extends "cafeblog/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% load staticfiles %}
{% load cafeblog_tags %}

{% block body %}

<form method="post">
    {% csrf_token %}
    <div class="hero-unit">
        <h1>{{ article.title }}<br />
            <small>posted on the blog: {{ article.blog }}</small>
        </h1>
    </div>
    
    <div>
        <p> contents: {{ article.contents }}</p>
        <p> author: {{ article.author }}</p>
        <p> creation_time: {{ article.creation_time }}</p>
        <p> date published: {{ article.pub_date }}</p>
        <p> last modified: {{ article.last_modified }}</p>
        <p> is it published? : {{ article.is_published }}</p>
    </div>
    
</form>

{% endblock %}

