{% load bootstrap_toolkit %}
{% load url from future %}
<html>
  <head>
    

    <title>{% block title %} Generic Template {% endblock %}</title>

    {% bootstrap_stylesheet_tag %}
    {% block mycss %}
      <link rel="stylesheet" type="text/css" href="/static/css/cafeblog/pretty.css" media="screen" />
    {% endblock %}

  </head>
  <body>
    {% block navbar %}
      <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a href="" class="brand">Cafe blogs</a>
              <div class="nav-collapse collapse">
                <p class="navbar-text pull-right dropdown">
                {% if user.is_authenticated %}
                  Logged in as {{ user.username }} (<a
                  href="{% url 'cafeblog:logout' %}">logout</a>)
                {% else %}
                  Not logged in (<a class="navbar-link"
                  href="{% url 'cafeblog:login' %}">login</a>)
                {% endif %}
                </p>
                </ul>
                <ul class="nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="{% url 'cafeblog:new_blog' %}">New blog</a></li>
                  <li><a href="">Something#2</a></li>
                  <li><a href="">Something#3</a></li>
                  {% block nav %}
                  {% endblock nav %}
                </ul>
              </div>
            </div>
        </div>
      {% endblock navbar %}
 
    <div id="wrap">
      <div class="container">
      {% block body %}

        Main contents here.
        
      {% endblock %}
      </div>
    </div>
    {% block js %}
     <script src="http://code.jquery.com/jquery-latest.js"></script>
      {% block myjs %}
      {% endblock %}
    {% endblock %}
  </body>
</html>

