{% extends "cafeblog/base.html" %}
{% load url from future %}

{% block body %}
{% if object_list %}
<table class="table table-striped table-bordered">
    <thead class="">
        <tr>
            <th>Blog</th>
            <th>description</th>
            <th>by</th>
        </tr>
    </thead>
    <tbody>
    {% for blog in object_list %}
        <tr>
            <td>{{ blog.title }}</td>
            <td>{{ blog.description }}</td>
            <td>{{ blog.administrator }}</td>
        </tr>
    {% endfor %}
    <tbody>
</table>
{% else %}
    <p>No blogs available.</p>
{% endif %}

{% endblock %}