{% extends "cafeblog/base.html" %}
{% load bootstrap_toolkit %}
{% load cafeblog_tags %}


{% block title %}Setting New password{% endblock %}

{% block body %}
    {% if validlink %}
        <h1>
            <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        </h1>

        <form action="" method="post" class="form-horizontal">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <div class="control-group">
                {% display_error_if form.new_password1.errors %}
                <label for="id_new_password1" class="control-label">New password:</label>
                <div class="controls">
                    {{ form.new_password1 }}
                </div>
            </div>
            <div class="control-group">
                {% display_error_if form.new_password2.errors %}
                <label for="id_new_password2" class="control-label">Confirm password:</label>
                <div class="controls">
                    {{ form.new_password2 }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn-large btn-primary">Change my password</button>
                </div>
            </div>    
        </form>

    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}