span.help-inline
{   bottom: -22px;

    position: relative;
}

div.alert-success
{   margin-top: 30px;
}

form.login-form 
{   margin-top: 30px;
}

label.checkbox[for$="DELETE"]
{   left: 210px;
}

input[id$="DELETE"]
{   display: none;
}

div[id$="ORDER"] 
{   display: none;
}

.navbar
{   position: relative;
}

navbar
{   position: relative;
}

footer {
    vertical-align: middle;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    right: 0;
}

form ul
{   list-style: none;
    margin: 0;
}

label
{   display: inline;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.progress
{   margin: 10px;
}

input[type="text"], input[type="password"]
{   height: 30px;
}

.asteriskField
{   display: none;
}

label.checkbox, input.checkboxinput 
{   left: 300px;
    position: relative;
    top: -35px;
    color: red;
}

label.checkbox:hover
{   font-weight: bold;
}

.control-group
{   margin-bottom: 0;
}



.table td:first-child
{   width: 35%;
}

.btn
{   width: 100px;
}

input.btn[type="submit"], input.btn[type="button"]
{       padding: 5px;
        width: 125px;
}



#wrap {
    margin-top: 50px;
}

.container{
   width: 80%;
}

.row_field{
    height: 50px;
}
.error_field{
     height: 15px;
}
.ind_field{
    height: 25px;
}
.errorlist {
    font-size: 11;
    color: red;

}


